<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688006228248-8l0sn1koejkt6drfc1t5ge65ifkshsr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688006228248-8l0sn1koejkt6drfc1t5ge65ifkshsr3</string>
	<key>API_KEY</key>
	<string>AIzaSyBX---KPf8n1WSFUEB1H6DhreVZGUNYckQ</string>
	<key>GCM_SENDER_ID</key>
	<string>688006228248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.bitsport.pepup</string>
	<key>PROJECT_ID</key>
	<string>pepup-99c46</string>
	<key>STORAGE_BUCKET</key>
	<string>pepup-99c46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:688006228248:ios:657ce695d503e72d39966d</string>
	<key>DATABASE_URL</key>
	<string>https://pepup-99c46.firebaseio.com</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>MEDIA</string>
</dict>
</plist>
